@CHARSET "UTF-8";

.page {
	text-decoration: none; /*去掉下划线*/
	padding: 2px;
	background-color: #6495ED;
	color: white;
}

.curpage {
	/* 	background-color: #00008B; */
	color: red
}

.nopage {
	/* 	background-color: red; */
	color: #808080;
	/* 	border: none; */
}

body {
	margin: 0;
	padding: 0
}