<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
table {
	border-collapse: collapse;
	margin: 0 auto;
	width: 600px;
}

table, th, td {
	border: 1px solid white;
}

td {
	text-align: center;
	height: 29px;
	font-size: 13px;
}

span {
	font-size: 14px;
	color: white;
}

div {
	font-family: "楷体", "楷体_GB2312";
	font-size: 24px;
}
a{
	text-decoration: none;
	color:black;
}
</style>
</head>
<body>
	<center>
		<br />
		<div>河北省重大技术需求征集系统文件下载</div>
		<br />
		<table>
			<tr style="background-color: DodgerBlue;">
				<td><span>标题</span></td>
				<td><span>发布日期</span></td>
				<td><span>下载</span></td>
			</tr>
			<tr>
				<td style="text-align: left;"><a
					href="/download/河北省重大技术需求工作方案.doc">河北省重大技术需求工作方案.doc</a></td>
				<td>2017-03-22</td>
				<td><a href="/download/河北省重大技术需求工作方案.doc"><img
						src="/download/download.jpg" alt="下载" /></a></td>
			</tr>
			<tr>
				<td style="text-align: left;"><a
					href="/download/河北省重大技术需求征集表.doc">河北省重大技术需求征集表.doc</a></td>
				<td>2017-03-22</td>
				<td><a href="/download/河北省重大技术需求征集表.doc"><img
						src="/download/download.jpg" alt="下载" /></a></td>
			</tr>
		</table>
	</center>
</body>
</html>