<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>河北省重大技术需求征集系统</title>
<style type="text/css">
table {
	border-collapse: collapse;
	margin: 0 auto;
	width: 900px;
}

table, th, td {
	font-family: "楷体", "楷体_GB2312";
	font-size: 20px;
	border: 0px solid black;
}

.title {
	font-family: "楷体", "楷体_GB2312";
	font-size: 24px;
	text-align: center;
}
</style>
</head>
<body>
	<br />
	<div class="title">河北省重大技术需求征集系统</div>
	<br />
	<table>
		<tr>
			<td>
				<div>&nbsp;&nbsp;&nbsp;&nbsp;为了充分利用京津科技资源，破解我省产业转型升级、绿色崛起所面临的重大技术难题，按照厅领导指示，
					现面向重点产业、重点领域、重点企业（单位）征集产业或领域关键技术难题，构建我省重大技术需求数据库，特制定本工作方案。</div>
				<p>征集工作流程如下:</p>
				<ul>
					<li>由计财处牵头，情报院设计征集系统，通过省直有关部门、各市科技局、省级以上高新区通知重点企业和单位上网填报；</li>
					<li>各单位填报后由情报院整理汇总报计财处，送交由各业务处，对技术需求进行甄别筛选，形成汇总清单。</li>
					<li>计财处会同情报院建立河北省技术需求数据库，适时对外公布，并制定定期更新制度。</li>
				</ul>
			</td>
		</tr>
	</table>
</body>
</html>